.boujee_text {
    --bg-size: 1000%;
    font-family: sans-serif;
    font-size: clamp(3rem, 25vmin, 8rem);
    background: linear-gradient(80deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    color: transparent;
    background-clip: text;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .boujee_text {
      animation: animationgradienttitle 8s linear infinite;
    }
    @keyframes animationgradienttitle {
        0% {
            background-position: 0 1600px;
        }
        100% {
            background-position: 1600px 0;
        }
    }
  }
.main_text{

    background: -webkit-linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}